body {
  margin: 0;
  padding: 0;
  background-image: url("../pic/zoe-cOBuc8-d2hg-unsplash.jpg");
 /* Hide scrollbars */
  /* overflow: hidden; */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: auto;

}


form i {
  margin-left: -30px;
  cursor: pointer;
}
.container {
  width: 900px;
  margin: 10px auto;
  padding: 5px 10px;
  font-family: Georgia, Arial and Helvetica;
  font-weight: bold;
  font-size: 17px;
  /* background-image: url(../pic/shapelined-_JBKdviweXI-unsplash.jpg); */
  background-color: rgb(185,169,150);
  border-radius: 20px;
}

label {
  width: 170px;
  display: inline-block;

}

h2 {
  font-size: 18px;
  text-align: center;
  font-family: Georgia, Arial and Helvetica;
}

/* .container div {
  text-align: center;
} */

select{
  outline: none;
  font-weight: bold;

}
input {
  width: 300px;
  /* margin: -10px -4px 1px 3px; */
  padding-left: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  height: 17px;
  text-align: justify;
  display: inline-block;
  font-size: large;
  font-weight: bold;
  border-radius: 10px;
  border-color: wheat;
  outline: none;
  background-color: rgb(206,245,167);
}

button {
  width: 170px;
  height: 27px;
  padding: 5px;
  margin: 8px;
  font-size: 14px;
  background-color: rgb(125, 166, 242);
  border: none;
  color: white;
  border-radius: 10px;
  font-weight: bold;
}

.btn_1:active {

  background-color: rgb(151, 224, 15);

}

.btn_2:active {

  background-color: rgb(229, 41, 12);

}

.btn-danger {

  background-color: rgb(229, 41, 12);

}
@media only screen and (max-width: 767px) {
  .body {
    width: 100%;
  }
  .container {
    width: 90%;
    float: none;
    margin: 10px auto;
  }
   .input{
    width: 100px;
  }
}
